name: clean-up

on:
  pull_request:
    types: [closed]

jobs:
  destroy:
    runs-on: ubuntu-latest
    env:
      APP_NAME: api-docs-pr-${{ github.event.number }}
    steps:
      - uses: actions/checkout@v6
      - uses: hostwithquantum/setup-runway@v0.5.1
        with:
          username: ${{ secrets.RUNWAY_USERNAME }}
          password: ${{ secrets.RUNWAY_PASSWORD }}
      - name: delete app
        run: runway app rm -y -a $APP_NAME || true
      - uses: thollander/actions-comment-pull-request@v3
        with:
          pr-number: ${{ github.event.number }}
          message: Preview deleted...