name: deploy

on:
  push:
    branches:
      - main

jobs:
  runway:
    environment:
      name: production
      url: https://runway-api-docs.pqapp.dev/
    runs-on: ubuntu-latest
    env:
      APP_NAME: runway-api-docs
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: hostwithquantum/setup-runway@v0.5.1
        with:
          application: ${{ env.APP_NAME }}
          username: ${{ secrets.RUNWAY_USERNAME }}
          password: ${{ secrets.RUNWAY_PASSWORD }}
          private-key: ${{ secrets.RUNWAY_PRIVATE_KEY }}
          public-key: ${{ secrets.RUNWAY_PUBLIC_KEY }}
      - run: runway app config set PORT=8484
      - run: runway app deploy