name: ci

on:
  pull_request:

jobs:
  go:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - run: go build -o test ./cmd/server/...

  js:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
      - working-directory: js
        run: |
          npm ci
          npm run build

  preview:
    if: ${{ github.actor != 'dependabot[bot]' }}
    needs: [go,js]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write 
    env:
      APP_NAME: api-docs-pr-${{ github.event.number }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: hostwithquantum/setup-runway@v0.5.1
        with:
          application: ${{ env.APP_NAME }}
          username: ${{ secrets.RUNWAY_USERNAME }}
          password: ${{ secrets.RUNWAY_PASSWORD }}
          public-key: ${{ secrets.RUNWAY_PUBLIC_KEY }}
          private-key: ${{ secrets.RUNWAY_PRIVATE_KEY }}
      - run: runway app config set PORT=8484
      - run: runway app deploy
      - uses: thollander/actions-comment-pull-request@v3
        with:
          pr-number: ${{ github.event.number }}
          message: |
            Deployed a preview: https://${{ env.APP_NAME }}.pqapp.dev/api-docs